venv
Contoso - Vendas - 2017.csv
Contoso - Cadastro Produtos.csv
Contoso - Clientes.csv
Contoso - Lojas.csv
Financeiro.xlsx
Logística.xlsx
Manutenção.xlsx
Marketing.xlsx
Operações.xlsx
Vendas.xlsx
salarios.sqlite


